<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="log" class="org.apache.log4j.FileAppender">
		<param name="File" value="src/ActivemqConfIntegration.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ss:SS} - %m%n" />
		</layout>
<!-- 		<filter -->
<!-- 			class="org.esiag.isidis.bdf.commons.jms.test.integration.ActivemqConfIntegrationFilter" /> -->
	</appender>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ss:SS} - %c %m%n" />
		</layout>
	</appender>
	<logger name="org.springframework" >
		<level value="info" />
	</logger>
	<root>
		<priority value="info" />
		<appender-ref ref="log" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>